@import "./variables";
@import "./mixins";

// .icon-sm{  }

.action-element{
    @include element;
    padding: 10px 20px;

    &--plus-arrow{
        display: flex;
        margin-right: 0;
        margin-left: auto;
        gap: 10px;
    }
}

.artist-element{
    @include element;
    padding: 10px 20px;
    gap: 20px;

}

// .tags-container{}