@import "./variables";
@import "./mixins";

// .icon-sm{  }

.action-element{
    @include element;
    padding: 10px 20px;


}


.artist-element{
    @include element;
    padding: 10px 20px;
    gap: 20px;

}