@import "./variables";
@import "./mixins";
// Contenedores, grids, flexbox
// header
// footer
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $background-color;
    color: $text-color;

    font-family: "Poppins", sans-serif;
    font-style: normal;

    color: $text-color;
    font-size: 14px;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100vw;  /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */

    background-color: rebeccapurple;
    
    &__left{
        background-color: greenyellow;
        @include main-container;
        
        min-width: 282px;
        gap: 10px;


        &-container{
            background-color: $background-elements;
            border-radius: 8px;
            @include child-container;
        
            background-color: purple;
                
            }
        
        // Se agrega estilo al segundo contenedor para que ocupe toda la pantalla
        &-container:nth-child(2) {
            height: 100%;
            margin-bottom: 0;
        }
    }

    &__middle{
        background-color: cornflowerblue;

        width: 100%;
        @include main-container;
        
    }

    &__right{
        background-color: coral;
        
        min-width: 386px;
        @include main-container;
    }



}